
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
@{
    var list = ViewBag.UserList;
    foreach (var item in list)
    {
    <div style="background-color:peru;color:black;">
        <p>@item.Name </p>
        <p>@item.Account</p>
    </div>
    }
}